---
import ResumeGame from "../components/ResumeGame.astro";
import FeaturedGames from "../components/FeaturedGames.astro";
import AddedRecently from "../components/AddedRecently.astro";
---

<main class="[grid-area:main] bg-accent pl-8 pt-14 hidden" id="homeWindow">
    <ResumeGame />
    <FeaturedGames />
    <AddedRecently />
</main>