---
import MainTitle from "../components/MainTitle.astro";
import PlayLater from "../components/PlayLater.astro";
import MyPcGames from "../components/MyPcGames.astro";
import Header from "../components/Header.astro";
---

<main class="[grid-area:main] bg-accent" id="libraryWindow">
    <Header />
    <MainTitle title={"Mi biblioteca"} />
    <PlayLater />
    <MyPcGames />
</main>