---
interface Props {
	icon: ImageMetadata;
    height?: number;
}

const { icon, height } = Astro.props;
---

<button class="flex items-center justify-center rounded-md hover:bg-accentLight w-12" style={height ? `height: ${height}px` : undefined}>
    <img src={icon.src} alt="icon" width={"24px"} height={"24px"}/>
</button>
