---
import leftIcon from "../icons/left.svg";
---

<section class="flex h-auto mt-10 fixed top-0 z-50 w-full">
    <div class="cursor-pointer w-8 h-8 bg-accentLight rounded-md flex items-center justify-center ml-8">
        <img src={leftIcon.src} alt="icon" width={"20px"} height={"20px"}/>
    </div>

    <div class="flex justify-center flex-1">
        <input type="text" class="w-[475px] h-10 bg-accentDark border border-accentLight rounded-full px-4 text-white focus:outline-none" placeholder="Busca, compra y descarga tus juegos favoritos"/>
    </div>
</section>