---
import GameCard from "./GameCard.astro";
---

<section class="flex flex-col gap-4 h-auto">
    <h2 class="text-white text-2xl font-semibold">Retomar la partida</h2>
    <GameCard title="The Witcher 3: Wild Hunt" image="https://image.api.playstation.com/vulcan/ap/rnd/202211/0711/qezXTVn1ExqBjVjR5Ipm97IK.png" company="CD Projekt Red"/>
</section>